---
import { cv } from "@data/cv.ts";
---

<footer class="py-8 border-t border-gray-100 mb-4">
  <div class="flex justify-between items-center flex-wrap gap-4">
    <span class="text-xs text-gray-300">{cv.name}</span>
    <span class="text-xs text-gray-300">{cv.website}</span>
  </div>
</footer>
